#player {
    width: 700px;
    position: relative;
}

#video {
    width: 100%;
    height: auto;
}

#player:fullscreen {
    width: 100%;
    height: 100%;
}

#player:fullscreen video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.progress-container {
  position: relative;
  width: 400px;
}

#bufferBar {
  position: absolute;
  height: 4px;
  background: #aaa;
  width: 0%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

#progress {
  position: relative;
  width: 100%;
  z-index: 2;
}

#player {
  position: relative;
  width: 700px;
}

#controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: opacity 0.3s;
}

#controls.hide {
  opacity: 0;
  pointer-events: none;
}